@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background:  #2E3192 ;
}

.container {
    height: 350px ;
    width: 700px ;
    padding: 10px ;
    position: absolute;
    top: 23%;
    left : 10%
    
}

.container  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px ;
    color: #fff;

}
.container  h1 span {
    color:   #ffff76;
}
.agebox {
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: #d5dce6;
    height: 70px ;
    width: 65%;
    border-radius: 7px ;
    padding: 10px ;
    position: absolute;
    top : 50% ;
}


.agebox input{
    background: #fff;
    outline: none;
    border-radius: 2px;
    font-size: 15px;
   
    border-width: 0;
    width:70% ;
    height: 80%;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 14px 20px ;
   
    
   
}


.agebox button{
    height: 80%;
    width: 100px ;
    border-radius: 2px;
    background: #ffff76;
    border-width: 0;
    outline: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px ;

}
.container h3 {
     position: absolute;
     bottom: 16%;
     font-family: "Poppins", sans-serif;
    font-weight: 400;
      font-style: normal;
      color: #fff;
}

